.background {
    background: rgb(0, 0, 0);
    width: 95px;
    height: 180px;
}

.slim {
    background: #000000;
    width: 10px;
    height: 80px;
    margin-left: 40px;
}

.light {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin-left: 16px;
    border-radius: 100%;
}

.red {
    background: red;

}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.active {
    box-shadow: 0 0 10px 8px #fff,
        0 0 15px 10px rgb(219, 215, 219),
        0 0 15px 12px rgb(243, 245, 245);

}